# Matched against repo root (asterisk)
* @kcaparas1630

# Matched against directories

# /.github/workflows/ @kcaparas1630

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
